
@use "ngx-bootstrap/datepicker/bs-datepicker.css";
@use 'index';

.theme-orange .bs-datepicker-head {
    background-color: index.$orange;
    border-radius: index.$border-radius index.$border-radius 0 0;
}

.theme-orange .bs-datepicker-body table td.week span {
    color: index.$orange;
}

.theme-orange .bs-datepicker-body table td span.selected, .theme-orange .bs-datepicker-body table td.selected span, .theme-orange .bs-datepicker-body table td span[class*=select-]:after, .theme-orange .bs-datepicker-body table td[class*=select-] span:after {
    background-color: index.$orange;
}

.bs-datepicker {
    border-radius: index.$border-radius;
}

.bs-datepicker-body {
    border-radius:  0 0 index.$border-radius index.$border-radius;
}