
// Primary colors
$orange: #FD6F41;
$brown: #2F292B;
$green: #090;
$light-brown: #ADA1A1;
$light-grey: #E0E9EF;
$flash-white: #ECF1F4;

//Text colors
$white: #FFF;
$black-100: #121212;
$black-80: #232323;
$black-60: rgba(18, 18, 18, 0.70);
$black-50: #737B8B;

$alert: red;

$border-radius: 20px;